<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="前程贷接口测试">
    <test name="test">
        <classes>
            <class name="com.lemon.testcases.register"/>
            <class name="com.lemon.testcases.testLogin02"></class>
            <class name="com.lemon.testcases.GetUserInfoTestv2"></class>
            <class name="com.lemon.testcases.Recharge"></class>
            <class name="com.lemon.testcases.AddLoan"/>
        </classes>
    </test>
</suite>